body {
    margin: 0;
    padding: 0;
    background-color: #8E6ECF;
    font-family: 'Cabin', sans-serif;
    color: yellow;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.content-cnt {
    height: 200px;
}

.allBox {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header-cnt {
    height: 200px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    border: 1px solid green;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form {
    text-align: center;
    border: 1px solid blue;
    height: 300px;
}
$daybox: 100%/7;

.dayBox {
    width: $daybox;
    display: flex;

    ul {
        li {
            border: 1px solid orange;
            list-style-type: none;
        }
    }

    .note-text {
        text-align: center;
        background: yellow;
        display: inline-block;
        border: 1px solid red;
    }

    .button {
        cursor: pointer;
        text-align: center;
        width: 100px;
        height: 50px;
        border: none;
        background: #70CD6A;
        border-radius: 4px;
        font-size: 20px;
        margin-left: 10px;
    }

    .note-text {
        height: 30px;
        width: 300px;
        padding: 10px;
    }
